Repository 1398404039/sourcegraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nicksnyder, @keegancsmith, @felixfbecker

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# https://help.github.com/articles/about-codeowners/

cmd/frontend/internal/graphqlbackend @nicksnyder
*git* @keegancsmith
migrations/ @keegancsmith
migrations/ @nicksnyder
monolith/ @keegancsmith
search @keegancsmith
web/ @felixfbecker
xlang/ @keegancsmith

Fix file tree not updating on code intel actions
  shared/src/components/FileMatchChildren.tsx
  shared/src/components/RepoFileLink.tsx
  shared/src/components/__snapshots__/RepoFileLink.test.tsx.snap
  shared/src/panel/views/__snapshots__/HierarchicalLocationsView.test.tsx.snap
  shared/src/platform/context.ts
  shared/src/util/url.ts
  web/src/platform/context.ts
  web/src/tree/Tree.tsx
Owners: @felixfbecker

Add ThirdPartyLicenses file
  ThirdPartyLicenses.csv
  dev/check/all.sh
  dev/check/licenses.sh
  dev/licenses.sh
  package.json
  yarn.lock
Owners: none

Don't include devDependencies in LSIF Docker images
  cmd/precise-code-intel/api-server/Dockerfile
  cmd/precise-code-intel/bundle-manager/Dockerfile
Owners: none

Fail on unknown licenses
  dev/licenses.sh
Owners: none

search: add a friendly alert for ambiguous or unsupported queries
  cmd/frontend/graphqlbackend/search_alert.go
  cmd/frontend/graphqlbackend/search_results.go
  cmd/frontend/graphqlbackend/search_results_test.go
  internal/search/query/validate.go
Owners: @keegancsmith

wip
  cmd/server/build.sh
  cmd/server/jaeger.sh
Owners: none

Update dependency semver to ^7.3.0
  package.json
  yarn.lock
Owners: none

search: gate and/or query execution
  cmd/frontend/graphqlbackend/search.go
  internal/search/query/validate.go
  internal/search/query/validate_test.go
Owners: @keegancsmith
